/* .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: w;
    height: auto;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }

  .row-nowrap{
    flex-wrap: nowrap;
  } */

  .popular-tours-two {
    padding-top: 50px;
  }

  .u-margin-bottom--1{
    margin-bottom: 2rem;
  }

  .banner--lg-96-25{
    padding-top: 26.0416666667%;
  }

  .popular-tours-detail{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .tours-detail-img{
    width: 100%;
    max-height: 500px;
  }

  .container-tours-detail{
    margin: 0;
    max-width: -webkit-fill-available;
    padding: 0;
    padding-bottom: 30px;
  }

  .lead{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
  }

  /* .popular-tours__carousel .popular-tours__img{
    width: 350px;
    height: 245px;
  }

  .popular-tours__img{
    width: 370px;
    height: 259px;
  } */

  .tour-search-one__input-box{
    max-width: 50.333%;
  }

  .react-datepicker-popper{
    z-index: 2;
  }

  .accrodion-content ul li{
    font-weight: 400;
    font-size: 16px;
    margin-left: 20px;
  }

  .title-list-unstyled{
    font-size: 18px;
    color: var(--thm-black);
    font-weight: 900;
    letter-spacing: var(--thm-letter-spacing);
  }

  .list-unstyled{
    list-style-type: disc;
  }
  
  .main-menu-wrapper__logo{
    padding-top: 5px;
    padding-bottom: 5.5px;
  }

  .main-menu-wrapper__logo img{
    width: 137px;
    max-height: 85px;
  }

